*{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Spartan', sans-serif;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerSlide__nav{
    position: absolute;
    z-index: 1;
    display: flex;
    color: white;
    padding: 3vh 0 0 3vh;
    align-items: center;   
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 3vh;
    align-items: center;
    margin: 0;
}

li{
    padding-left: 3vh;
    cursor: pointer;   
}



.containerSlides__slide{
    display: flex;
}

.slide__text{
    padding: 10vh 0 10vh 10vh;
    position: relative;
}

.slide__title{
    font-weight: 600;
}

.slide__about{
    padding:3vh 0;
    font-size: 0.8rem;
}

.slide__button{
    border: none;
    background-color: white;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.slide__arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    cursor: pointer;
    
}

a{  
    display: inline-block;
    padding: 20px 32px;  
}

.containerSection{
    display: flex;   
}

.containerSection__title{
    padding: 6vh 3vh 1vh 4vh;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
}

.containerSection__text{
    padding-left: 4vh;
    padding-right: 4vh;
    padding-bottom: 4vh;
    font-size: 0.8rem;
}
.footer__attribution { 
    font-size: 0.6rem;  
}

.footer__link{
    text-decoration: none;
    color: black;
}



@media(orientation:portrait){

    .wrapper{
        display: block;
    }
    .containerSlides__slide{
        flex-direction: column;
    }
    .containerSection{
        flex-direction: column;
    }
    .containerSlide__nav{
        display: none;
    }
    .slide__text{
        position: relative;
    }
    .slide__img{
        display: none;
    }
    .slide__img--mobile{
        width: 100vw;
        position: relative;
    }
    .slide__arrow{
        bottom: 100%;
        left: 70%;
        width: 30%;
        display: flex;
        align-items: center;  
    }
    a{  
        padding: 15px 0 10px 0;
        box-sizing: border-box;
    }
    .containerSection__image{
        width: 100vw;
    }
    .slide__title{
        font-size: 1.5rem;
    }
    .slide__text{
        padding: 7vh 3vh 7vh 3vh;   
    }
    .slide__about{
        font-size: 0.7rem;
    }
    .slide__button{
        font-size: 1rem;
        letter-spacing: 0.7rem;
    }
    .containerSection__title{
        font-size: 0.8rem;
        letter-spacing: 0.2rem;    
    }
    .containerSection__text{
        font-size: 0.7rem;
    }
} 
    

@media(orientation:landscape){
    .slide__img--mobile{
        display: none;   
    }
}